<section>
    <h2>Skills</h2>
    <dl class="skills">
        <% for (const skillSet of skills) { %>
            <dt><%= skillSet.name %></dt>
            <dd><%= skillSet.values.join(", ") %></dd>
        <% } %>
    </dl>
</section>
