<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f9b28c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#f9b28c">

    <meta property="og:description" content="Full Stack Developer and Systems Engineer">
    <meta property="og:title" content="katlyn - Resume">

    <meta name="author" content="katlyn">
    <meta name="description" content="Full Stack Developer and Systems Engineer">
    <meta name="theme-color" content="#b0d2b0">

    <link rel="stylesheet" href="/letter.css">

    <title>katlyn - Cover Letter</title>
</head>
<body style="--accent: var(--<%= color %>)">
<header>
    <img src="/polyfox.svg" alt="A low poly fox">
    <div>
        <h1>NAME</h1>
        <span>Full Stack Developer and Systems Engineer</span>
    </div>
</header>
<main>
    <p class="address">DATE<br><br>
        NAME<br>
        PHONE<br>
        EMAIL
    </p>
    <br>
    <br>
    <p>Thank you for your consideration,</p>
    <p>NAME</p>
</main>
</body>
</html>
