@import url("/lexend/lexend.css");
@import url("/minireset.css");

:root {
  --peach: #efc4df;
  --strawberry: #e5a0a0;
  --cantaloupe: #f9b28c;
  --banana: #f0cf9f;
  --watermelon: #b0d2b0;
  --mint: #95fecc;
  --water: #80bbdb;
  --ube: #a99dbd;
  --tapioca: #c1c1c1;
  --dark: #111;
  --light: #eee;
  --accent: var(--watermelon);
  color: var(--dark);
  background-color: var(--light);
  font-family: "Lexend", sans-serif;

  --header-margin: 2rem;
  --after-header-margin: 0.75rem;
  --inner-section-margin: 0.75rem;
  --inner-content-margin: 0.5rem;
  --list-margin: 0.25rem;
}

header {
  border-bottom: var(--accent) solid 3px;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;

  img {
    height: 3.5em;
  }

  h1 {
    font-size: 2em;
  }

  span {
    justify-self: end;
  }

  margin-bottom: var(--header-margin);
}

h1, h2, h3, h4, h5, h6 {
  break-after: avoid;
}

h2 {
  font-size: 1.75em;
}

section {
  &:not(:first-child) {
    margin-top: var(--header-margin);
  }
}

dl.skills, dl.contact {
  break-inside: avoid;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--list-margin) 1em;
  margin-top: var(--after-header-margin);

  dt {
    font-weight: bold;
  }

  dd {
    text-align: right;
  }
}

.experience, .projects, .education {
  margin-top: var(--after-header-margin);
  break-inside: avoid;

  > li {
    margin-top: var(--inner-section-margin);
  }

  .position-head, .project-head, .education-head {
    display: grid;
    gap: var(--list-margin) 1em;
    grid-template-columns: auto auto;

    h3 {
      font-weight: bold;
    }

    .dates, .position-skills, .project-skills {
      text-align: right;
      font-style: italic;
    }
  }

  .position-bullets, .project-bullets {
    list-style: disc;
    padding-left: 1em;

    li {
      margin-top: var(--list-margin);
    }
  }
}

.awards {
  margin-top: var(--after-header-margin);
  break-inside: avoid;

  .award-head {
    display: grid;
    grid-template-areas: "a b" "c c";

    h3 {
      font-weight: bold;
      grid-area: a;
    }

    .dates {
      grid-area: b;
      text-align: right;
    }

    .award-presenter {
      grid-area: c;
    }
  }

  blockquote {
    text-align: justify;
    margin-top: var(--inner-content-margin);
    padding-left: 1em;
    border-left: var(--accent) solid 3px;
  }
}

p {
  margin-top: var(--inner-content-margin);
  text-align: justify;
}

a {
  color: #347ca3;
}

footer {
  margin-top: auto;
  margin-bottom: 2em;
  text-align: center;
  padding-top: 3em;

  .small {
    font-size: 0.7em;
    opacity: 0.75;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--light);
    background-color: var(--dark);
  }
}

@media not print {
  body {
    margin: 0 auto;
    padding: 2rem;
    max-width: 60rem;
  }

  footer .small {
    display: none;
  }
}

@media print {
  :root {
    color: black;
    background: transparent;
    margin: 0 0.25em;
  }

  main {
    column-count: 2;
    column-gap: 3em;
    column-rule: var(--accent) 1px solid;
  }
}

@media print, (max-width: 550px) {
  dl.skills, .experience .position-head, .projects .project-head {
    grid-template-columns: auto;

    dd, .position-skills, .project-skills {
      text-align: left;
    }
  }

  .experience .position-head,
  .projects .project-head,
  .education .education-head {
    grid-template-areas: "a b" "c c" "d d";

    .dates {
      grid-area: b;
    }

    .position-company, .project-topic, .education-school {
      grid-area: c;
    }

    .position-skills, .project-skills {
      grid-area: d;
    }
  }
}
